body {
  text-align: center;
  background: rgb(176, 176, 179)
}

#level-title {
  font-family: 'Monoton', cursive;
  font-size: 4rem;
  margin: 2%;
  color: rgb(49, 47, 38);
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}


.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  ;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  background-color: grey;
}